* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}

body {
    background-color: #0f0f0f;
}

/* FONTS */

.exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


/* This section is the header and the navbar as well  */
header {
    border: 3px solid pink;
    min-height: 100vh;
    width: 100%;

}


nav {
    border: 3px solid black;
    min-height: 18vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    background-color: rgb(40, 40, 40);
     

}

nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 12px;
    transition: 0.3s ease;
    font-family: "Exo 2";
}

nav a:hover {
    background-color: #0f0f0f;
    color: white;
    border:2px solid#acabab;
    border-radius: 5px;

}


.iphone1,
.iphone2,
.iphone3,
.iphone4,
.iphone5 {
    border: 3px solid purple;
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: "Exo 2";


}

.iphone1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Carmeline images/images for the home/daniel-romero-q-RQba-XCgU-unsplash.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.iphone2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Carmeline images/images for the home/photo-1622531636820-5d727319e45d.avif");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.iphone3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Carmeline images/images for the home/NV.avif");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.iphone4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Carmeline images/images for the home/photo-1525547719571-a2d4ac8945e2.avif");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}


.iphone5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Carmeline images/images for the home/photo-1603351154351-5e2d0600bb77.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}



.iphone1,
.iphone2,
.iphone3,
.iphone4,
.iphone5,
h1,
p {
    position: relative;
    z-index: 2;
    /* color: white;
    font-size: 25px;
    padding-top: 40px; */

}
button a{
    color:rgb(44, 41, 41);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
     

}

button{
cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
     transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 10px #738571,
                0 0 25px #686a68,
                0 0 40px #181919;
}

.iphone1>button,
.iphone2>button,
.iphone3>button,
.iphone4>button,
.iphone5>button {
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    min-height: 8vh;
    width: 15%;
    border-radius: 30px;
}




.iphone1>h2,.iphone2>h2,.iphone3>h2,.iphone4>h2,.iphone5>h2 {
    font-size:45px;
    font-weight: bold;

}
/* .iphone>h2 {
    font-size: 45px;
}

.iphone>p {
    font-size: 30px;
} */


/* This is the main section of the overview also called the index.html */
.overview1,
.overview2,
.overview3,
.overview4,
.overview5 {
    border: 4px solid #008000;
    min-height: 100vh;
    width: 100%;
    padding: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    font-family: "Exo 2";
}

.overview-paragraph1,
.overview-paragraph2,
.overview-paragraph3,
.overview-paragraph4,
.overview-paragraph5 {
    border: 3px solid orange;
    width: 40%;
    min-height: 400px;
}

.overview-paragraph1>h2,
.overview-paragraph2>h2,
.overview-paragraph3>h2,
.overview-paragraph4>h2,
.overview-paragraph5>h2{
    font-size: 35px;
    font-weight: bold;
}

.overviewimg1,
.overviewimg2,
.overviewimg3,
.overviewimg4,
.overviewimg5 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    width: 50%;
    min-height: 500px;
}

.overviewimg1>img {
    max-width: 46vw;
    min-height: 68vh
}

.overviewimg2>img {
    max-width: 100vw;
    min-height: 65vh
}

.overviewimg3>img {
    max-width: 190vw;
    min-height: 75vh
}

.overviewimg4>img {
    max-width: 46vw;
    height: 69vh
}

.overviewimg5>img {
    max-width: 46vw;
    height: 69vh
}


h1,
h2,
h3 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/* Responsiveness of the  index page and some of the other pages*/


@media(min-width:1024px) {

    .overviewimg1,
    .overviewimg2,
    .overviewimg3 {
        border: 3px solid orange;
        width: 50%;
        height: 50vh;
    }
}

@media(max-width:920px) {
    header {
        width: 100%;
        min-height: auto;
    }

    nav a {
        font-size: 7px;
    }

    .logo {
        font-size: 9px;
    }

     

    .overviewimg1>img,.overviewimg2>img,.overviewimg3>img {
        width: 100%;
        min-height: 60vh;
    }

     
    .overview-paragraph1>p, .overview-paragraph2>p, .overview-paragraph3>p,.overview-paragraph4>p,.overview-paragraph5>p{
font-size: 15px;
    }

     .overview-paragraph1>h2,.overview-paragraph2>h2,.overview-paragraph3>h2,.overview-paragraph4>h2,.overview-paragraph5>h2{
        font-size: 20px;
     }
    .iphone1>button {
        width: 50%;
    }

    .iphone2>button {
        width: 50%;
    }

    .iphone3>button {
        width: 50%;
    }

    .iphone4>button {
        width: 50%;
    }

    .iphone5>button {
        width: 50%;
    }
    
}

@media(max-width:768px) {



    .overviewimg1,
    .overviewimg2,
    .overviewimg3 {
        width: 50%;
        min-height: 40vh;
        border: 2px solid yellow;
    }

    nav {
        min-height: 10vh;
        padding: 32px;
    }


    header {
        height: 60vh;
        border: 10px solid green;
    }

    .overview1,
    .overview2,
    .overview3 {
        padding: 6vw;
        min-height: 70vh;
    }

    .overview-paragraph1,
    .overview-paragraph2,
    .overview-paragraph3 {
        width: 40vw;
    }
}

@media(max-width:480px) {

    .overview1,
    .overview2,
    .overview3 {
        padding: 6vw;
        min-height: 60vh;
    }




}






/* FOOTER */

footer{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    font-family: "Exo 2";
    color: #c4c3c3;
}

.footer-sections-all{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-sections{
    width: 30vw;
    align-self: baseline;
    margin: 2vh auto;
}

.copyright{
    align-self: center;
    margin: 2vh auto;
}



