
*{
    font-family: "Exo 2";
}

/* This is for the buying page */
.hero-for-buying{
    min-height:120vh;
    display:flex;
    justify-content:center;
    flex-direction: column;
    /* align-items: center; */
    /* padding-left: 10vh; */
    background-image:url(Carmeline\ images/bann.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
     font-family: "Exo 2";
}


.buy-text{
    width:50vw;
    min-height: 50vh;
    margin-left: 130px;
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
  
}


.buy-text > button {
    margin-top: 20px;
    min-height: 6vh;
    width:12vw;
    border-radius: 20px;
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}


.buy-text > button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 10px #23f403,
                0 0 25px #24dc04,
                0 0 40px #03eb63;
}


.buy-text>h1{
font-size: 45px;
font-weight: bolder;
}

.buy-text>p{
    font-size: 20px;
}


/* This is for the categories boxes */
.categories{
    display:flex;
    justify-content:space-around;
    padding:3vw;
    font-family: "Exo 2";
}

.category-box{
    width:20%;
    height:15vh;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
     transition: 0.3s ease;
    cursor: pointer;
    background-color: black;
    z-index:2;
}

.category-box {
    transition: 0.3s ease;
    cursor: pointer;
}

.category-box:hover{ transform: translateY(-5px); 
    box-shadow: 0 0 15px rgba(158, 165, 165, 0.6),
                0 0 30px rgba(94, 98, 98, 0.4),
                0 0 45px rgba(226, 228, 228, 0.2);
    border-color:white;}


.category-box>p{
    font-size: 20px;
    font-weight: bolder;
}
.products-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:3vw;
    padding:5vw;
    
}



.product-box{
    border:2px solid black;
    background-color: rgb(19, 18, 18);
    padding:2vw;
    text-align:center;
    min-height:50vh;
     transition: transform 0.3s ease;
     font-family: "Exo 2";
     
}

.product-box:hover {
    transform: translateY(-10px);
    
}

.product-box-images{
    min-height: 50vh;
    width:30vw;
}

.product-box-images> img{
    min-width: 20vw;
   min-height: 20vw;
   
}

.tex > button {
    width:15vw;
    min-height: 7vh;
    border-radius: 20px;
    color:rgb(152, 147, 147);
    cursor: pointer;
    border: 2px solid rgb(96, 94, 94);
    background: transparent;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    font-weight: bold;
     
}


.tex > button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: black;
    transition: 0.4s ease;
    z-index: -1;
}

.tex > button:hover::before {
    left: 0;
}

.tex > button:hover {
    color: white;
    transform: translateY(-3px);
}

 .fa-star {
    color: white;
}

.checked{
    color:gold;
}

.product-grid> button{
height: 50px; 
width:20vw;
}

.partners{
    min-height: 80vh;
    padding:5vw;
    text-align:center;
   
}

.partners>h2{
    font-size: 30px;
    font-weight: bold;
}

.partner-grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2vw;
    margin-top:2vw;
    
}

.partner> img{
max-width: 20vw;
min-height: 30vh;
}
.partner{
   min-height:40vh;
     background-color: rgb(40, 40, 40);
}


.world{
    display:flex;
    justify-content:space-between;
    padding:5vw;
    align-items:center;
}

.world-text{
    width:40%;
    min-height: 30vh;
   
}

.world-text>h2{
    font-size: 35px;
    font-weight: bold;
}
.world-text>p{
font-size: 25px;
}
.world-map{
    width:50%;
    height:40vh;
    display:flex;
}

.world-map>img{
    min-height: 40vh;
    max-width: 50%;
}


#more{
    width: 100%;
    min-height: auto;
}

#more h1{
    text-align: center;
    width: 100%;
    min-height:20vh;
    padding-top: 7vh;
    font-weight: bold;
    font-size: 50px;
}

#more-devices{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: scroll;
    gap:20px;
}

.moree{
    width: 20%;
    min-height: 70vh;
    flex-shrink: 0;
}

.moree>img{
    width: 100%;
    min-height:75vh ;
}


.icons{
    min-height: 30vh;
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.icon-box{
    width:40vh;
    min-height: 20vh;
    border: 2px solid silver;
    
}






@media(max-width:1190px){
    .buy-text > button{
        width: 25vw;
        height: 6vh;
    }
    .products-grid{
    grid-template-columns: repeat(2, 1fr);

}

.hero-for-buying{
    width: 100%;
}

.tex>button{
min-height: 5vh;
}

/* .moree{
    
    width: 50%;
    height: 15vh;
} */



}
@media(max-width:920px){

    .hero-for-buying{
        width: 100vw;
    min-height:100vh;
    background-image:url(Carmeline\ images/bann.jpg) ;
    }

    .buy-text > button{
        width: 25vw;
        height: 5vh;
    }

    .category-box>p{
    font-size: 12px;
    font-weight: bolder;
}
    .products-grid{
    grid-template-columns: repeat(1, 1fr)
}


.moree{
    
    width: 50%;
    height: 15vh;
}



.tex>button{
min-height: 5vh;
width:50%;
}

.partner>img{
   max-width: 65%; 
   min-height: 9h;
}

.partner>p{
    font-size: 15px;
}

.world-text>h2{
    font-size: 20px;
    
}
.world-text>p{
font-size: 15px;

}

.world-map>img{
    min-height: 20vh;
    max-width:100%;
    overflow: hidden;
}
}

@media(max-width:320px){
    .product-box{
    width:30%;
    min-height: 20vh;
    padding-right: 0px;
}

.product-box>img{
    width:80%;
    min-height: 40vh;
}

.partner>img{
   max-width: 100%; 
   min-height: 5h;
}
.partner>p{
    font-size: 10px;
}
.buy-text > button{
        width: 25vw;
        height: 4vh;
    }

    .moree{
    
    width: 100%;
    height: 40vh;
}

    
}