/* KEY FOCUS AREAS PAGE */

body{
    background-color: rgb(22, 22, 22);
}

#keyareas-header{
    width: 100%;
    min-height: 50vh;
    text-align: center;
    padding-top: 20vh;
    background-image: url('Nissi/img/Key-Areas/keyfocus.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    font-family: "Share Tech Mono";

}

#keyareas-header h1{
    font-family: "Share Tech Mono";
    font-size: 5vw;
    top: -8vh;
}

#keyareas-main{
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.keyareas-card{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.keyareas-card p {
    border-radius: 2vw;
    box-shadow: black 0 0 2vw;
    width: 45%;
    min-height: 60vh;
    margin: 5vh auto;
    font-family: "Exo 2";
    text-align: center;
    padding-top: 8vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.keyareas-card img{
    width: 45%;
    min-height: 60vh;
    margin: 5vh auto;
    border: hidden;
    border-radius: 2vw;
}
