*{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hero-for-security{
    height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    border:5px solid black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Carmeline images/Privacy images/photo-1633265486064-086b219458ec.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
   
}

.hero-for-security> img{
    min-width:100vh;
    height:60vh;
}

.hero-for-security>h1{
    font-size: 60px;
}

.hero-for-security>p{
    font-size: 30px;
}


.security-scroll{
     border:5px solid pink;
     min-height:100vh;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
 animation: rotate-bg-color 10s infinite;
}

@keyframes rotate-bg-color {
  0% {
    background-color: rgb(80, 82, 84);
  }
  10% {
    background-color: rgb(4, 4, 4);
  }
  20% {
    background-color: rgb(7, 6, 4);
  }
  30% {
    background-color: rgb(7, 7, 6);
  }
  40% {
    background-color: rgb(65, 70, 65);
  }
  50% {
    background-color: rgb(6, 6, 6);
  }
  60% {
    background-color: rgb(20, 20, 21);
  }
  70% {
    background-color: rgb(22, 21, 22);
  }
  80% {
    background-color: rgb(30, 30, 30);
  }
  90% {
    background-color: rgb(14, 14, 14);
  }
  100% {
    background-color: black;
  }
}

.security-box{
     border:5px solid purple;
     width: 20%;
    min-height:40vh;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
  transition:  0.3s ease;
    background-color:black;
    font-size: 25px;
}

 .security-box:hover{ transform: translateY(-5px); 
    box-shadow: 0 0 15px rgba(158, 165, 165, 0.6),
                0 0 30px rgba(94, 98, 98, 0.4),
                0 0 45px rgba(226, 228, 228, 0.2);
    border-color:white;}



.security-detail{
border:2vh solid pink;
    display:flex;
    padding:5vw;
    justify-content:space-between;
    align-items:center;
}

.security-detail2{
    border:2vh solid gold;
    display:flex;
    padding:5vw;
    justify-content:space-between;
    align-items:center;
}

.security-details3{
border:2vh solid green;
    display:flex;
    padding:5vw;
    justify-content:space-between;
    align-items:center;
}

.security-details4{
border:2vh solid green;
    display:flex;
    padding:5vw;
    justify-content:space-between;
    align-items:center;
}

.security-details5{
border:2vh solid green;
    display:flex;
    padding:5vw;
    justify-content:space-between;
    align-items:center;
}
.detail-text{
    width:40%;
    min-height: 40vh;
}


.detail-text>h2{
    font-size: 45px;
    font-weight: bolder;
}

.detail-text>p{
    font-size: 30px;
    
}
.detail-img{
    width:50%;
    height:50vh;
    border:2px solid black;
}

.detail-img >img{
max-width: 44.5vw;
height: 50vh;
}

.protection{
    padding:5vw;
    text-align:center;
}

.protection>h2{
    font-size: 50px;
    font-weight: bold;
}

.protection>p{
    font-size: 30px;
}

.layers{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    gap:2vw;
    margin-top:2vw;


}

.layer {
    display:flex;
    justify-content:center;
    align-items: center;
    border:2px solid black;
    min-height: 10vh;
    width:20vw;
    border-radius: 30px;
    transition:  0.3s ease;
    background-color:black;
}


.layer:hover {
    transform: translateY(-5px); 
    box-shadow: 0 0 15px rgba(158, 165, 165, 0.6),
                0 0 30px rgba(94, 98, 98, 0.4),
                0 0 45px rgba(226, 228, 228, 0.2);
    border-color:white;
}
.layer>p{
    margin-bottom: 25px;

}

.layer:hover p{
    color:rgb(67, 144, 180);
}

@media(max-width:920px){
    .security-box{
        min-height:25vh;
        font-size: 12px;
    }

    .detail-text>h2{
    font-size: 26px;
    font-weight: bolder;
   
}

.detail-text>p{
    font-size: 21px;
    
}
    

}

@media(max-width:520px){
    .security-box{
        min-height:20vh;
        width:25vw;
        font-size: 10px;
    }


    .security-scroll{
    min-height: 70vh;
}

.detail-text>h2{
    font-size: 21px;
    font-weight: bolder;
   
}

.detail-text>p{
    font-size: 20px;
    
}

.protection>h2{
    font-size: 25px;
}

.protection>p{
    font-size: 20px;
}

.layer{
    width: 23vw;
    min-height: 6vh;
}

.layer>p{
    padding-top: 12px;
    font-size: 8px;
}
}