/* This is Nissi's section */

/* Laptops */

#laptop{
    border:hidden;
    border-radius: 2vw;
    box-shadow: #7b7b7b 0 0 1vw;
    width: 90%;
    min-height: auto;
    position: relative;
    left: 5vw;
    bottom: 10vh;
}


#laptop-devices{
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    overflow-x: scroll;
    /* overflow-y: hidden; */
}

.l-device{
    border: 0.3vw solid orangered;
    width: 50%;
    min-height: 50vh;
    flex-shrink: 0;
    margin: 3vh 3vw;
    margin-bottom: 0;
    position: relative;
}

.l-product-top{
    width: 100%;
    max-height: 60vh;
    transition: 0.4s opacity ease;   
}

.l-product-top:hover{
    opacity: 0;
}

.l-product-hidden{
    width: 100%;
    max-height: 60vh;
    position: absolute;
    left: 0;
    z-index: -1;
}

#that-one{
    height: 30vh;
}



/* This is Cam's section */

/* This is the section for the features of the products */


*{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.hero-for-products{
    
    display: flex;
    height: 90vh;
    padding: 5vw;
    align-items: center;
    justify-content: space-between;
    background-image:url(Carmeline\ images/Galaxyzflip5G\ GIF\ by\ Samsung\ Austria.gif) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-words{
    width: 40%;
}


.features{
    border:1vw solid black;
    padding: 5vw;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

.box-for-feature{
    height: 20vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(134, 133, 133);
}


/* This is the stylus support section */
.support-product{
   
    display: flex;
    min-height:50vh ;
    padding: 5vw;
    justify-content: space-between;
}

.support-product-words{
    width: 40%;
   min-height: 30vh;
 
}

.support-product-words>h2{
    font-size: 100px;
}
.support-product-words>p{
     font-size: 35px;
}

.support-product-image{
    width: 50%;
    min-height: 40vh;
}


.support-product-image>img{
    max-width: 40vw;
    min-height:15vh;
  
}

.images-of-devices{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    padding: 5vw;
   
}

.devices{
    flex:1;
    height: 50vh;
    /* border: 2px solid black; */
}

.devices>img{
    max-width: 30vw;
    min-height:40vh ;
}


.other-hero{
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("Carmeline\ images/hero__bsveixlwbms2_xlarge.jpg");
}


.categories-for-products{
    display:flex;
    justify-content:space-around;
    padding:3vw;
}

.category-for-products{
    width:25%;
    height:15vh;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:  0.3s ease;
}

.category-for-products:hover{ transform: translateY(-5px); 
    box-shadow: 0 0 15px rgba(158, 165, 165, 0.6),
                0 0 30px rgba(94, 98, 98, 0.4),
                0 0 45px rgba(226, 228, 228, 0.2);
   }


   .category-for-products>p{
    font-size: 20px;
    font-weight: 700;
   }

.scroll{
    min-height: 60vh;
    display:flex;
    justify-content: start;
    gap:2vw;
    padding:3vw;
   animation: rotate-bg-color 10s infinite;
    padding-left: 200px;
    overflow: hidden;
}

@keyframes rotate-bg-color {
  0% {
    background-color: rgb(80, 82, 84);
  }
  10% {
    background-color: rgb(4, 4, 4);
  }
  20% {
    background-color: rgb(7, 6, 4);
  }
  30% {
    background-color: rgb(7, 7, 6);
  }
  40% {
    background-color: rgb(65, 70, 65);
  }
  50% {
    background-color: rgb(6, 6, 6);
  }
  60% {
    background-color: rgb(20, 20, 21);
  }
  70% {
    background-color: rgb(22, 21, 22);
  }
  80% {
    background-color: rgb(19, 17, 17);
  }
  90% {
    background-color: rgb(14, 14, 14);
  }
  100% {
    background-color: black;
  }
}

.anime{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:20vw;
    min-height: 20vh;
  position: relative;
    animation-name: myAnimation; 
    animation-duration: 20s;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
 
}

.anime>h2{
    font-size: 100px;
    font-weight:900;
    
}

@keyframes myAnimation {
  0%   {background-color:transparent; left:0px; top:0px;}
  25%  {background-color:transparent; left:2800px; top:0px;}
  /* 50%  {background-color:blue;  left:100px; top:0px;} */
  /* 75%  {background-color:green; left:0px; top:200px;} */
  100% {background-color:transparent; left:100px; top:0px;}
  0%   {background-color:transparent; left:0px; top:0px;}
  25%  {background-color:transparent; left:800px; top:0px;}
  /* 50%  {background-color:blue;  left:100px; top:0px;} */
  /* 75%  {background-color:green; left:0px; top:200px;} */
  100% {background-color:transparent; left:100px; top:0px;}
  
}

.headset{
    display:flex;
    justify-content:space-around;
    padding:3vw;
}

.headset > div{
    width: 20vw;
min-height: 50vh;

}

.head>img{
    max-width:18vw;
    min-height: 20vh;
}

.heady>img{
    max-width:20vw;
    min-height: 27vh;
}



.bundle{
    display:flex;
    padding:5vw;
    justify-content:space-between;
}

.bundle-words{
    width:40%;
    
}

.bundle-image{
    width:50%;
    height:50vh;
    
}

@media(max-width:920px){

    @keyframes myAnimation {
  0%   {background-color:transparent; left:0px; top:0px;}
  25%  {background-color:transparent; left:20px; top:0px;}
  /* 50%  {background-color:blue;  left:1000px; top:0px;} */
  /* 75%  {background-color:green; left:0px; top:200px;} */
  100% {background-color:transparent; left:0px; top:0px;}
  0%   {background-color:transparent; left:0px; top:0px;}
  25%  {background-color:transparent; left:20px; top:0px;}
  /* 50%  {background-color:blue;  left:1000px; top:0px;} */
  /* 75%  {background-color:green; left:0px; top:200px;} */
  100% {background-color:transparent; left:-20px; top:0px;}
}

    .anime>h2{
    font-size: 60px;
    
    
}
    .headset{

    padding:3vw;
}

.headset > div{
    width: 18vw;
min-height: 30vh;

}

.head>img{
    max-width:25vw;
    min-height: 21vh;
}

.heady>img{
    max-width:20vw;
    min-height: 17vh;
}

.images-of-devices{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.devices>img{
    max-width: 90vw;
    min-height: 50vh;
}
.support-product-image>img{
    width:100vw;
    height: 30vh;
}

.support-product-words>h2{
    font-size: 45px;
}
.support-product-words>p{
     font-size: 20px;
}
}