/* SUSTAINABILITY PAGE */
body{
    background-color: rgb(16, 16, 16);
    border: none;
    box-shadow: none;
    
}

#sustain-header{
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: #c1fb5dc0 solid 0.2vw;
    box-shadow: #b7db7b 0 0 1.5vw 1.5vw;
    animation: glowingBox 3s ease 2s backwards alternate;
}

@keyframes glowingBox {
    from{border: none;box-shadow: none;}
    to{border: #c1fb5dc0 solid 0.2vw;box-shadow: #b7db7b 0 0 1.5vw 1.5vw;}
}


#sustain-header h1{
    text-align: center;
    font-family:"Share Tech Mono";
    font-weight: 900;
    font-size: 4vw;
    color:#b6c59c;
    letter-spacing: 1vw;
    
}

#sustain-header .desc{
    text-align: center;
    font-family: "Exo 2";
    font-size: 1.6vw;
    color:#c4c3c3;
    width:70%
    
}

.laptop-sustain{
    transform: scale(1.8);
    position: relative;
    top: -40vh;
}

.recyclable{
    border: hidden;
    border-radius: 50%;
    box-shadow: #b7db7b 0 0 0.7vw 0.7vw;
    width: 10vw;
    min-height: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    position:absolute;
    font-family: "Exo 2";
    line-height: 4vh;
    background-color: #b6c59c;
}

.one{
    top: 75vh;
    left: 10vw;
    border-radius: 50%;
}

.line-one{
    position: absolute;
    transform: scaleX(11) scaleY(8) rotate(25deg);
    top: 90vh;
    left: 27vw;
}

.two{
    top: 167vh;
    left: 71.5vw;
}

.line-two{
    position: absolute;
    transform: scaleX(11) scaleY(8) rotate(250deg);
    top: 153vh;
    left: 70vw;
}

.three{
    top: 155vh;
    left: 15vw;
}

.line-three{
    position: absolute;
    transform: scaleX(11) scaleY(8) rotate(-35deg);
    top: 147vh;
    left: 30vw;
}

.four{
    top: 87vh;
    left: 80vw;
}

.line-four{
    position: absolute;
    transform: scaleX(11) scaleY(8) rotate(-187deg);
    top: 97vh;
    left: 70vw;

}

#main-sustain{
    width: 100%;
    min-height: auto;
}

#eco-friendly{
    width: 100%;
    min-height: fit-content;
    margin-top: 1vh;
    text-align: center;
    position: relative;
    font-family: "Exo 2";
    z-index: -1;
}


.eco-friendly-top{
    width: 100%;
    min-height: 50vh;
    color: #b6c59c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;

}

.eco-friendly-top img{
    width: 17vw;
    height: auto;
}

.eco-friendly-top p{
    width: 60%;
    text-align: center;
    padding: 4vw;
    font-size: 2vw;
}



.eco-friendly-bottom{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
    color: #b6c59c;
    margin-top: 10vh;

}

.eco-friendly-bottom p{
    text-align: center;
    position: absolute;
}

.eco-friendly-bottom div{
    margin-top: 10vh;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 1vw;
    margin-top: 6vh;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

hr{
    border: none;
    background-color: #b6c59c;
    height: 0.1vh;
    width: 15vw;
}

#carbon-reduction {
    width: 100%;
    min-height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}

#carbon-graph{
    width: 45%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carbon-info{
    width: 55%;
    min-height: 60vh;
    text-align: center;
    padding: 20vh;
    font-family: "Exo 2";
    color: #b6c59c;

}